.fundal{
    position: relative;
    top: 20px;
    height: 100%;
    width:1500px ;
    color: #EAE7B1;

    background: rgba(144, 144, 144, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(144, 144, 144, 1);
}

.inaltime{
    height: 1000px;
}

.padd100{
    padding-top: 50px;
}